<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Содержание:</b>
  <%= @idea.sod %>
</p>

<p>
  <b>Автор:</b>
  <%= @idea.user.username %>
</p>

<p>
  <b>Рейтинг:</b>
  <%= @idea.raiting %>
</p>

<p><%=@un%></p>

<%if current_user.id==@idea.user_id%>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<td><%= link_to 'Destroy', @idea, :confirm => 'Вы уверены?', :method => :delete %></td>
<%end%>

<%= link_to 'Back', ideas_path %>
